td, th {
	border: 3px solid white;
  color:white;
  font-style: italic;
  }
th{
  font-size: larger;
}
h1{
  font-family: 'Pacifico', cursive;
  font-style: italic;
  text-align: center;
  color:azure;
  }
tr{
  font-family: 'Gochi Hand', cursive;
  font-size:30px;
  }
.planet_img{
  width:200px;
  height:200px;
  }
#planets{
  margin-left:auto;
  margin-right:auto;
  }
.td_title{
  text-align: center;
  }
body{
  background-color: #1c222b;
  }
table{
  border-collapse:collapse;
  text-align: center;
  }
td:not(.td_title){
  font-family: 'Michroma', sans-serif;
  font-size:15px;
  font-style:normal;
  }
th:nth-child(1), td:nth-child(1){
  background-color: #232c38;
}
th:nth-child(2), td:nth-child(2){
  background-color: #38414f;
}
th:nth-child(3), td:nth-child(3){
  background-color: #453d10;
}
th:nth-child(4), td:nth-child(4){
  background-color: #12305e;
}
th:nth-child(5), td:nth-child(5){
  background-color: #323232;
}
